{% extends 'AppBundle::base.html.twig' %}

{% block styles %}
    <style>
        .card {
            background-color: white;
            box-shadow: 3px 3px 3px 3px rgba(21,21,21,0.6);
        }
        .card-header {

        }
        .card-body {

        }
        .card-footer {

        }
    </style>
{% endblock %}

{% block main %}
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                asdsad
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}