{% extends "AppBundle::base.html.twig" %}

{% block styles %}
    <style>
        .section-info {
            height: 200px;
            padding: 20px;
        }
    </style>
{% endblock %}
{% block main %}
    <section class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10"
         data-image-src="{{ asset('bundles/app/images/mac-book.jpg') }}" data-natural-width="1400"
         data-natural-height="900">

    </section>

    <section class="section-info">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolorem ducimus,
            eaque nostrum odit sapiente tempora. Aliquam asperiores at cumque eaque et ipsa iste
            laborum omnis, optio pariatur qui repudiandae!</p>
    </section>

    <section class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10"
         data-image-src="{{ asset('bundles/app/images/intro-imac.jpg') }}" data-natural-width="1400"
         data-natural-height="900">
    </section>
{% endblock %}