{% extends "AppBundle::base.html.twig" %}

{% block styles %}
    <style>

        .conocenos_nosotros_foto:nth-of-type(1){
            background-image: url("{{ asset('bundles/app/images/superman.jpg') }}");
            background-size: cover;
        }
        .conocenos_nosotros_foto:nth-of-type(2){
            background-image: url("{{ asset('bundles/app/images/batman-gotham.jpg') }}");
            background-size: cover;
        }
        .conocenos_nosotros_foto:nth-of-type(3){
            background-image: url("{{ asset('bundles/app/images/green-lantern.jpg') }}");
            background-size: cover;
        }
    </style>
{% endblock %}
{% block main %}
    <section class="parallax-container section-parallax" data-parallax="scroll"
             data-image-src="{{ asset('bundles/app/images/mac-book.jpg') }}">
    </section>

    <section class="section">
        <div class="info">
            <div class="info_title info_title--big">Conócenos</div>
            <div class="info_body">
                <p><strong class="info--enfasis">Somos un grupo de amigos apasionados con la
                        tecnología y cosas geek.</strong></p>
                Nos gusta estar actualizados en cuanto a tecnología web y móvil se refiere.
                Creemos que disfrutar de lo que hacemos es la base para desarrollar proyectos innovadores e inspiradores,
                que puedan llegar a todo el mundo.
                Cada proyecto nuevo que abordamos es un nuevo reto en el cual daremos lo mejor de nosotros.
            </div>
        </div>
        <div class="conocenos info--center">
            <div class="conocenos_title info_title--big">Nuestra <strong>Liga de la Justicia</strong></div>
            <div class="conocenos_nosotros">
                <div class="conocenos_nosotros_foto">
                    <div class="overlay">
                        <div class="info_title me"><strong>Daniel</strong></div>
                        <div class="social">
                            <span class="icon icon-twitter"></span>
                            <span class="icon icon-facebook2"></span>
                            <span class="icon icon-instagram"></span>
                        </div>
                    </div>
                </div>
                <div class="conocenos_nosotros_foto">
                    <div class="overlay">
                        <div class="info_title me"><strong>Jaime</strong></div>
                        <div class="social">
                            <span class="icon icon-twitter"></span>
                            <span class="icon icon-facebook2"></span>
                            <span class="icon icon-instagram"></span>
                        </div>
                    </div>
                </div>
                <div class="conocenos_nosotros_foto">
                    <div class="overlay">
                        <div class="info_title me"><strong>Brayan</strong></div>
                        <div class="social">
                            <span class="icon icon-twitter"></span>
                            <span class="icon icon-facebook2"></span>
                            <span class="icon icon-instagram"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info--enfasis" style="margin:10px 0 30px 0 ;font-size:1.6rem;
        font-family:kaushan;width: 100%; text-align: center">¡Sígannos los buenos!</div>
    </section>
{% endblock %}