{% extends "AppBundle::base.html.twig" %}

{%  block main %}

    <div>
        <img style="width: 100%; position: relative; z-index: 0" src="{{ asset('bundles/app/images/comida-mexicana.jpg') }}">
        <span class="image-font">
                Encuentra la mejor comida
        </span>
    </div>


{% endblock %}
{% block script %}     


{% endblock %}