{% extends "AppBundle::base.html.twig" %}

{%  block main %}

    <div>
        <img style="width: 100%; position: relative; z-index: 0" src="{{ asset('bundles/app/images/comida-mexicana.jpg') }}">
        <img style="width: 256px; height: 256px; position: absolute; z-index: 1; top: 50%; left: 10px" src="{{ asset('bundles/app/images/arrow.png') }}">
        <span class="image-font">Encuentra tu ubicaci&oacute;n</span>
        <div style="width: 500px"></div>
    </div>


{% endblock %}
{% block script %}     


{% endblock %}