{% extends "AppBundle::base.html.twig" %}

{%  block main %}

    <div class="parallax-window">
        <div class="parallax-slider">
            <img src="{{ asset('bundles/app/images/mac-book.jpg') }}">
            <span style="position:absolute; top: 400px; left: 400px;">Some Text</span>
        </div>
    </div>

    <section>
        <div class="container">
            <h1 style="font-family: harry">Los tacos dan mas energia que los hamsters,
                <small>(se venden hamster por separado)</small>
            </h1>
            <span style="font-family: harry; font-size: 7rem; color: goldenrod; text-shadow: 2px 2px 2px black;">Harry Potter   Three Savage</span>
        </div>
    </section>

    <div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10"
         data-image-src="{{ asset('bundles/app/images/hamster.jpg') }}" data-natural-width="1400"
         data-natural-height="900">
    </div>

{% endblock %}
{% block script %}
    <script>
        jQuery(window).trigger('resize').trigger('scroll');
        $(document).ready(function(){
            $('.parallax-window').parallax({
                naturalWidth: 600,
                naturalHeight: 400
            });
        });
    </script>
{% endblock %}