{% extends "AppBundle::base.html.twig" %}

{%  block main %}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/index-styles.css') }}">

    <div>
        <img class="food" src="{{ asset('bundles/app/images/comida-mexicana.jpg') }}">
        <img class="arrow" src="{{ asset('bundles/app/images/arrow.png') }}">
        <span class="image-font">Encuentra tu ubicaci&oacute;n aproximada</span>
        <div class="search">
            <div class="search-left">
                <label for="address" class="search-space">Ingresa tu direcci&oacute;n!</label>
            </div>
            <div class="search-right">
                <div class="buttons-space">
                    <form id="theForm" action="{{ path('location') }}">
                        <input class="input-white" id="address" name="address" value="Metro Pantitlan">
                    </form>
                    <span class="button-transparent" >
                        <a href="" id="buscar">Buscar</a>
                    </span>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}

    <script>
        $("#buscar").click(function (e) {
            e.preventDefault();
            $("#theForm").submit();
        });

        $(document).ready(function(){

        });

    </script>

{% endblock %}