{% extends "AppBundle::base.html.twig" %}

{%  block main %}

    <section class="parallax-container section-parallax" data-parallax="scroll"
             data-image-src="{{ asset('bundles/app/images/mac-book.jpg') }}">
        <div class="move">
        <span class="image-font">
                <p><strong>¡Ideas convertidas</strong></p>en realidad!
        </span>
        </div>
    </section>

    <section class="section">
        <div class="info">
            <div class="info_title info_title--big">Three Savages</div>
            <div class="info_body">
                <p><strong class="info--enfasis">Transformamos tu idea en realidad</strong></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda explicabo mollitia omnis saepe. At atque
                    corporis cumque dicta earum hic ipsa omnis repudiandae saepe unde? Adipisci consequatur quia voluptatum!
                </p>
            </div>
        </div>
    </section>

{% endblock %}
{% block script %}
    <script>
        jQuery(window).trigger('resize').trigger('scroll');
        $(document).ready(function(){
            $('.parallax-window').parallax({
                naturalWidth: 600,
                naturalHeight: 400
            });
        });
    </script>
{% endblock %}