{% extends "AppBundle::base.html.twig" %}

{%  block main %}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/index-styles.css') }}">

    <div>
        <img class="food" src="{{ asset('bundles/app/images/comida-mexicana.jpg') }}">
        <img class="arrow" src="{{ asset('bundles/app/images/arrow.png') }}">
        <span class="image-font">Encuentra tu ubicaci&oacute;n aproximada</span>
        <div class="search">
            <di class="search-left">
                <label for="address" class="search-space">Ingresa tu direcci&oacute;n!</label>
            </di>
            <div class="search-right">
                <div class="buttons-space">
                    <input class="input-white" id="address" value="Metro Pantitlan">
                    <input class="button-transparent" type="button" value="Buscar" onclick="address()">
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}     


{% endblock %}