@font-face {
    font-family: 'kaushan';
    src:    url('../fonts/kaushan.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'harry';
    src:    url('../fonts/harry.TTF');
    font-weight: normal;
    font-style: normal;
}