{% extends 'AppBundle::baseVendedores.html.twig' %}

{% block style %}
    <style>
        .bar-action{
            background-color: white;
            border-radius: 4px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .bar-action li {
            margin-right: 10px;
        }

        .new-section {
            cursor: pointer;
        }
        .editable input[type="text"] {
            padding: 3px 2px;
            border: 1px solid transparent;
            border-radius: 2px;
            font-size: 1.1rem;
            transition: box-shadow 0.3s, border 0.3s;
        }
        .editable input[type="text"]:focus {
            border: 1px solid #02C39A;
            box-shadow: 0 0 5px 1px #02C39A;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="panel-header">
            <span class="panel-title">Mis Menús</span>
            <ul class="bar-action">
                <li>
                    <span class="btn-action" id="createMenuBtn">Crear menú</span>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <a href="#" data-menu-id="1">
                <div class="circle-action">
                    <span>Men&uacute; 1</span>
                </div>
            </a>
        </div>
    </div>
    <div id="menus">

    </div>
{% endblock %}

{% block script %}
    <script>

        var mnuStr = "<div class='panel'>" +
                        "<div class='panel-header'>" +
                            "<span class='editable'><input type='text' value='Titulo Menu'></span>" +
                            "<ul class='bar-action'>" +
                                "<li class='new-section'> crear seccion</li>"+
                                "<li class='close'>&times;</li>"+
                            "</ul>" +
                        "</div>" +
                        "<div class='panel-body'>" +
                            "<div class='section-menu'>" +
                                "<span class='editable'><input type='text' value='Seccion'></span>" +
                                "<table>" +
                                    "<thead>" +
                                        "<tr>" +
                                            "<td style='width: 200px;'>Platillo</td>" +
                                            "<td style='width: 200px;'>Precio</td>" +
                                            "<td style='width: 20px;'></td>" +
                                        "</tr>" +
                                    "</thead>" +
                                    "<tbody>" +
                                        "<tr>" +
                                            "<td><input type='text'></td>" +
                                            "<td><input type='text'></td>" +
                                            "<td class='remove-row'>borrar</td>" +
                                        "</tr>" +
                                        "<tr>" +
                                            "<td colspan='2'></td>" +
                                            "<td class='add-row'>new</td>" +
                                        "</tr>" +
                                    "</tbody>" +
                                "</table>" +
                            "</div>" +
                        "</div>" +
                    "</div>";

        var newSectionStr = "<div class='section-menu'>" +
                                "<span class='editable'><input type='text' value='Seccion'></span>" +
                                "<table>" +
                                    "<thead>" +
                                        "<tr>" +
                                            "<td style='width: 200px;'>Platillo</td>" +
                                            "<td style='width: 200px;'>Precio</td>" +
                                            "<td style='width: 20px;'></td>" +
                                        "</tr>" +
                                    "</thead>" +
                                    "<tbody>" +
                                        "<tr>" +
                                            "<td><input type='text'></td>" +
                                            "<td><input type='text'></td>" +
                                            "<td class='remove-row'>borrar</td>" +
                                        "</tr>"+
                                        "<tr>" +
                                            "<td colspan='2'></td>" +
                                            "<td class='add-row'>new</td>" +
                                        "</tr>" +
                                    "</tbody>" +
                                "</table>" +
                            "</div>";

        function createMenuPanel() {
            $("#menus").append(mnuStr);
        }

        function closeMenuPanel(panel) {
            $(panel).remove();
        }

        function addRow(currentTable) {
            var tr = "<tr>" +
                        "<td><input type='text'></td>" +
                        "<td><input type='text'></td>" +
                        "<td class='remove-row'>borrar</td>" +
                    "</tr>";
            $(currentTable).find("tbody tr:last-of-type").before(tr);
        }

        function removeRow(currentRow) {
            $(currentRow).remove();
        }

        function addNewSection(currentPanel) {
            $(currentPanel).find('.section-menu:last-of-type').after(newSectionStr);
        }

        $(document).ready(function() {

            $("#createMenuBtn").click(function() {
                createMenuPanel();
            });

            $("#menus").on("click", ".panel .close", function() {
                var panel = $(this).closest(".panel");
                closeMenuPanel(panel);
            });

            $("#menus").on("click", ".panel .new-section", function() {
                //replaceToEdit(this);
            });

            $("#menus").on("click", ".panel .add-row", function() {
                var currentTable = $(this).closest('table');
                addRow(currentTable);
            });

            $("#menus").on("click", ".panel .remove-row", function() {
                var currentRow = $(this).closest('tr');
                removeRow(currentRow);
            });

            $("#menus").on("click", ".panel .new-section", function() {
                var currentPanel = $(this).closest('.panel');
                addNewSection(currentPanel);
            });

        });

    </script>
{% endblock %}