{% extends 'AppBundle::baseVendedores.html.twig' %}

{% block style %}
    <style>
        .bar-action{
            background-color: white;
            border-radius: 4px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .bar-action li {
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="panel-header">
            <span class="panel-title">Mis Menús</span>
            <ul class="bar-action">
                <li>
                    <span class="btn-action" id="createMenuBtn">Crear menú</span>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <a href="#" data-menu-id="1">
                <div class="circle-action">
                    <span>Men&uacute; 1</span>
                </div>
            </a>
        </div>
    </div>
    <div id="menus">

    </div>
{% endblock %}

{% block script %}
    <script>

        var mnuStr = "<div class='panel'>" +
                        "<div class='panel-header'>" +
                            "<span>T&iacute;tulo</span>" +
                            "<ul class='bar-action'>" +
                                "<li class='close'>&times;</li>"+
                            "</ul>"
                        "</div>" +
                        "<div class='panel-body'>" +
                            "LISTA" +
                        "</div>"
                    "</div>";

        function createMenuPanel() {
            $("#menus").append(mnuStr);
        }

        function closeMenuPanel(panel) {
            $(panel).remove();
        }

        $(document).ready(function() {

            $("#createMenuBtn").click(function() {
                createMenuPanel();
            });

            $("#menus").on("click",".panel .close", function() {
                var panel = $(this).closest(".panel");
                closeMenuPanel(panel);
            });

        });

    </script>
{% endblock %}