{% extends 'AppBundle::baseVendedores.html.twig' %}

{% block style %}
    <style>
        .bar-action{
            background-color: white;
            border-radius: 4px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .bar-action li {
            margin-right: 10px;
        }

        .editable input[type="text"] {
            padding: 3px 2px;
            border: 1px solid transparent;
            border-radius: 2px;
            font-size: 1.1rem;
            transition: box-shadow 0.3s, border 0.3s;
        }
        .editable input[type="text"]:focus {
            border: 1px solid #02C39A;
            box-shadow: 0 0 5px 1px #02C39A;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="panel-header">
            <span class="panel-title">Mis Menús</span>
            <ul class="bar-action">
                <li>
                    <span class="btn-action" id="createMenuBtn">Crear menú</span>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <a href="#" data-menu-id="1">
                <div class="circle-action">
                    <span>Men&uacute; 1</span>
                </div>
            </a>
        </div>
    </div>
    <div id="menus">

    </div>
{% endblock %}

{% block script %}
    <script>

        var mnuStr = "<div class='panel'>" +
                        "<div class='panel-header'>" +
                            "<span class='editable'><input type='text' value='Titulo'></span>" +
                            "<ul class='bar-action'>" +
                                "<li class='new-section'>seccion</li>"+
                                "<li class='close'>&times;</li>"+
                            "</ul>" +
                        "</div>" +
                        "<div class='panel-body'>" +
                            "<span class='editable'><input type='text' value='Seccion'></span>" +
                            "<table>" +
                                "<thead>" +
                                    "<tr>" +
                                        "<td style='width: 200px;'>Platillo</td>" +
                                        "<td style='width: 200px;'>Precio</td>" +
                                        "<td style='width: 20px;'></td>" +
                                    "</tr>" +
                                "</thead>" +
                                "<tbody>" +
                                    "<tr>" +
                                        "<td><input type='text'></td>" +
                                        "<td><input type='text'></td>" +
                                        "<td class='remove-row'>borrar</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                        "<td colspan='2'></td>" +
                                        "<td class='add-row'>new</td>" +
                                    "</tr>" +
                                "</tbody>" +
                            "</table>" +
                        "</div>" +
                    "</div>";

        var newMnuStr = "<span class='editable'><input type='text' value='Seccion'></span>" +
                        "<table>" +
                            "<thead>" +
                                "<tr>" +
                                    "<td>Platillo</td>" +
                                    "<td>Precio</td>" +
                                    "<td></td>" +
                                "</tr>" +
                            "</thead>" +
                            "<tbody>" +
                                "<tr>" +
                                    "<td colspan='2'></td>" +
                                    "<td class='add-row'>new</td>" +
                                "</tr>" +
                            "</tbody>" +
                        "</table>";

        function createMenuPanel() {
            $("#menus").append(mnuStr);
        }

        function closeMenuPanel(panel) {
            $(panel).remove();
        }

        function addRow(currentTable) {
            var tr = "<tr>" +
                        "<td><input type='text'></td>" +
                        "<td><input type='text'></td>" +
                        "<td class='remove-row'>remove</td>" +
                    "</tr>";
            $(currentTable + " tr:last-of-type").before(tr);
        }

        $(document).ready(function() {

            $("#createMenuBtn").click(function() {
                createMenuPanel();
            });

            $("#menus").on("click", ".panel .close", function() {
                var panel = $(this).closest(".panel");
                closeMenuPanel(panel);
            });
            $("#menus").on("click", ".panel .new-section", function() {
                //replaceToEdit(this);
            });
            $("#menus").on("click", ".panel .add-row", function() {
                var currentTable = $(this).closest('table');
                addRow(currentTable);
            });



        });

    </script>
{% endblock %}