{% extends 'AppBundle::baseVendedores.html.twig' %}

{% block style %}
    <style>
        .panel {
            padding: 1rem;
            background-color: white;
            border-radius: 3px;
            border: 1px solid rgba(105,138,227,1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        .btn-panel {
            cursor: pointer;
            text-align: center;
            color: white;
            background-color: rgba(105,138,227,0.7);
            border-radius: 3px;
            border: 1px solid rgba(105,138,227,1);
            padding: 5px;
            font-size: 1.3rem;
            width: 200px;
        }

        .panel-title {
            font-size: 1.5rem;
        }
        .panel-description {
            font-size: 0.9rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="panel-description">
            <div class="panel-title">Ordenes activas</div>
            <div class="panel-description">Revisa las ordenes que tienes en este momento</div>
        </div>
        <span class="btn-panel">Ver</span>
    </div>
    <div class="panel">
        <div class="panel-description">
            <div class="panel-title">Historial de ventas</div>
            <div class="panel-description">Revisa las ventas que haz realizado</div>
        </div>
        <span class="btn-panel">Ver</span>
    </div>



{% endblock %}

{% block script %}
    <style>

    </style>
{% endblock %}
